.container {
    width: 100%;
    height: 100%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30;
}
.mainText {
    margin: 10%;
    font-size: 18;
}
.contact{
    cursor: pointer;
}
