.section_title_cont{
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
}


.section_title{
    text-align: center;
    font-family: BasicSerif;
    font-size: 30px;
    color: #4ABDAC;

}

