.myfont{
    font-family: BasicSerif;
}

.center_on_row{
    align-content: center;
}

.center_column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page_left{
    padding: 2%;
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.page_right{
    padding: 2%;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-around;
}

.segment_row{
    margin: 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 0;
    height: 65vh;
}
.white{
    color: white;
}
.teal{
    color: #4ABDAC
}

@media (max-width: 1024px) {
    .segment_row {
        flex-direction: column;
        height: auto;
    }
    .page_right{
        width: 100%;
        margin: 15px 0;
    }
    .page_left{
        width: 100%;
        margin: 15px 0;
    }
    .logo_container{
        display: none;
    }
  }

.section_content{
    width: "100%";
}

.centered{
    justify-content: center;
    align-content: center;
}

.myblue{
    color: #4ABDAC
}

.logo_container {
    position: fixed;
    top: 70px;
    margin-top: -35px;
    left: calc(30px + 1vw);
    height: 75px;
    width: 75px;
}

.align_center_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.icon_hover svg{
    transition-duration: 300ms;
    /* fill: inherit; */
}

.icon_hover:hover svg{
    fill: #4ABDAC
}