.git_icon{
    width: 25px;
    margin: 10px 10px 13px 10px;
}
.dark {
    color: black
}
.light {
    color: white
}
.dark svg{
    fill: black
}
.light svg{
    fill: white
}
.gibhub_img{
    height: 100%;
}

.checkout_git_root{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px
}

.gitTxt {
    font-size: 30px;
    text-align: center;
}