.guitar_image_container{
    height: 100%;
    display: flex;
    justify-content: center;
}

.guitar_image{
    height: 100%;
}

@media (max-width: 1024px) {
    .guitar_image{
        width: 100%;
    }
}