.my_logo {
    color: rebeccapurple;
    font-size: 100;
}

.container {
    width: 100vw;
}

.nav_container {
    display: flex;
    width: 100vw;
    padding: 70px calc(30px + 1vw);
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    position: fixed;
    left: 0;
}
.nav_scrolled {
    top: -70;

}
.nav_link {
    padding: 5px 5px;
    color: white;
    text-align: center;
    align-content: center;
    font-family: BasicSerif;
    cursor: pointer;
}

.include_logo{
    display: none;
}


@media (max-width: 1024px) {
    .include_logo{
        display: inline-block;
    }
}
