

.tools_root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.tool_img {
    display: block;
    margin: 0 2%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tool_img img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 2%;
}

.fade-up-enter, .fade-up-appear {
    opacity: 0;
    transform: translateY(50px);
}
.fade-up-enter-active, .fade-up-appear-active{
    opacity: 1;
    transform: translateY(0px);
    transition: 500ms ease-in-out;
}
.fade-up-exit{
    opacity: 1;
    transform: translateY(0px);
}
.fade-up-exit-active{
    opacity: 0;
    transform: translateY(50px);
    transition: 500ms ease-in;
}
