.guitar_image{
    height: 70%;
}

.slide_cont{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


@media (max-width: 1024px) {
    .slide_cont{
        flex-direction: column;
    }
}
       

.padding{
    padding: 5px
}

.main_txt{
    margin-top: -40px;
}
