.footer_container {
    width: 100vw;
    height: 8vh;
    background-color: #4ABDAC;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.iconContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    align-content: center;
    height: 100%;
}

.icon {
    margin: 0px 10px;
    width: 25px;
    height: 25px;
}

.mail{
    cursor: pointer;
}