
.covid_container {
    width: 100vw;
    height: 100vh;
    /* background-size: cover; */
    border: none;
    padding: 0px 5vw;
    margin-top: 15vh;
    animation: mymove 5s infinite;
}

.screenshot{
    height:95%;
}

.screenshot_container{
    margin: 0 5%;
    height: 100%
}

.c_line{
    left: 40vw;
}

.screenshot_root{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}


.emphasized{
    color: white;
}

@media (max-width: 1024px) {
    .screenshot{
        width: 80%;
    }
}