.nameline_container {
    display: flex;
    flex-direction: row;
    width: 500;
}

.before_name {
    color: black;
    font-size: calc(5vw);
}
.name {
    color: #fed42e;
    font-size: calc(5vw);
}

.intro_container{
    position: absolute;
    left: 15%;
    top: 35%;
}
