.nameline_container {
    display: flex;
    flex-direction: row;
    width: 500;
}

.before_name {
    color: white;
}
.name {
    color: #4ABDAC;
    /* color: #fed42e; */
    /* color: #f95f3c;  */
}
.name_size{
    font-size: calc(7vw);
}

.intro{
    margin-bottom: 0;
}
.largeSub{
    color: #949fbf;
    font-size: calc(4vw);
}
.intro_container{
    position: absolute;
    left: 15%;
    top: 35%;
}


@media (max-width: 1024px) {
    .name_size{
        font-size: calc(7vw);
    }
}

