.thisSite_container {
    width: 100vw;
    height: 80vh;
    /* background-color: rgb(171,221, 196);
    background-size: cover; */
    border: none;
    padding: 0 5vw;
}

.thisSite_title{
        text-align: center;
        font-family: BasicSerif;
}


.siteImage_container{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.siteImage{
    width: 100%;
}


.gitTxt{
    text-align: center;
    font-size: 20px;
}
