.slider{
    width: 80vw;
    position: relative;
    height: 60vh;
    border: 1px solid red;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.slide{
    height: 100%;
    min-width: 80vw;
    border: 1px solid blue;
    transition: 0.5s;
    padding: 0 5%
}

#goLeft {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 5%;
    height: 100%;
    background: none;
}

#goRight {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 5%;
    height: 100%;
    background: none;
}